streamlit
pymongo
pandas
nltk
textblob
wordcloud
matplotlib
seaborn
plotly
transformers
scipy
networkx
spacy
scikit-learn
sentence-transformers
torch
spacy
sentence-transformers

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz


